.metadata
.recommenders/
Projeto-Compiladores/bin/compiler/generated/CUP$Parser$actions.class
Projeto-Compiladores/bin/compiler/generated/Parser.class
Projeto-Compiladores/bin/compiler/generated/Scanner.class
Projeto-Compiladores/bin/compiler/generated/Scanner.java~
Projeto-Compiladores/bin/compiler/generated/sym.class
Projeto-Compiladores/src/compiler/generated/Parser.java
Projeto-Compiladores/src/compiler/generated/Scanner.java
Projeto-Compiladores/src/compiler/generated/Scanner.java~
Projeto-Compiladores/src/compiler/generated/sym.java
*~
*.class
*assembly.txt
*.swp
